#------GCP
variable "project" {
  default= "*************"
}
variable "region" {
  default = "us-central1"
}
variable "zone" {
  default = "us-central1-f"
}
variable "machine_type" {
  default = "n1-standard-1"
}
variable "image" {
    default = "centos-cloud/centos-7"
}
variable "gce_ssh_user" {
    default = "centos"
}
variable "ip_cidr_range_private" {
    default = "10.0.12.0/24"
}
variable "count_number" {
    default = 2
}
variable "ip_db" {
    default = "*************"
}
#-----inventory file
variable "hosts" {
  default = "*************"
}
#------------------keys
variable "key" {
  default = "*************/key.json"
}
variable "pub_key" {
  default = "*************/id_rsa.pub"
}
#----------Ansible
variable "pvt_key" {
  default= "*************/id_rsa"
}
#-------- AWS provider
variable "aws_access_key" {
  default = "*************"
}
variable "aws_secret_key" {
  default = "*************"
}
variable "dns_zone_name" {
  default = "*************"
}
variable "region_aws" {
  default = "eu-west-1"
}